@page
@model GoodsExchange.RazorWebApp.Pages.PostPage.IndexModel

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a class="btn btn-success btn-hover-secondary" asp-page="Create">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].ExchangeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].UpVote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td class="mw-100 text-wrap resize-both min-h-80">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeDate)
            </td>
                <td>
                    <a class="btn btn-secondary btn-outline-success:hover" asp-page-handler="UpVote" asp-route-id="@item.PostId">UpVote</a>
                </td>
            <td>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary mr-2 btn-outline-success:hover" asp-page="./Edit" asp-route-id="@item.PostId">Edit</a>||
                        <a class="btn btn-info mr-2 btn-outline-success:hover" asp-page="./Details" asp-route-id="@item.PostId">Details</a>||
                        <a class="btn btn-danger btn-outline-success:hover" asp-page="./Delete" asp-route-id="@item.PostId">Delete</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
